<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/CSS/formDeLogin.CSS">
    <title>Document</title>
</head>
​

<body>
    <header>
        <div>
            <section class="top-contenedor">
                <input type="search " name="Buscar " placeholder="Buscar productos, marcas... ">
                <button><i class="fas fa-search "></i></button>
                <a href="/login"><img class="logo " src="/images/logo-mercado-liebre.svg " alt=" "></a>
                <p> <i class="fas fa-hand-holding-usd "></i>Compra en cuotas y sin tarjeta de credito
                </p>
            </section>
        </div>
        <div class="nav-contenedor ">
            <nav class="nav ">
                <ul class="nav-menu " type=none>
                    <li class="nav-menu-items ">
                        <a href="/home " class="nav-menu-links ">Ofertas</a>
                    </li>
                    <li class="nav-menu-items ">
                        <a href="/home " class="nav-menu-links ">Tiendas Oficiales</a>
                    </li>
                    <li class="nav-menu-items ">
                        <a href="/formDeLogin " class="nav-menu-links ">Vender</a>
                    </li>
                    <li class="nav-menu-items ">
                        <a href="# " class="nav-menu-links ">Ayuda</a>
                    </li>
                </ul>
            </nav>
            <nav class=" menu ">
                <ul class="nav-menu ">
                    <li><a href="/register "><i class="fas fa-user-circle "></i> Crea tu cuenta</a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt "></i> Ingresa</a></li>
                    <li><a href="/home"><i class="fas fa-shopping-cart "></i> Mis compras</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="main-fl ">
            <form action="resultadoLogin " method="POST ">
                <label for="Nombreusuario "><h3>Nombre De Usuario:</h3>
                <input type="text " name="Nombreusuario " id="Nombreusuario " required="verdadero " minlength="3 ">
            </label>
                <label for="contraseña "><h3>Contraseña</h3>
                <input type="congtraseña " name="contraseña " id="contraseña " required="verdadero ">
            </label>
                <br>
                <br> ​
                <button type="submit "> <h3>Enviar</h3></button>
            </form>
            </div>
    </main>
    <footer>
        <section class="footer ">
            <div class="iconos-footer ">
                ​
            </div>
            <br>
            <br>
            <p class="descripcion-footer "><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p class="texto ">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-div ">
                <div class="iconos-footer ">
                    <br>
                    <br> </div>
                <p class="descripcion-footer "><strong>Envío gratis desde $ 2.500</strong></p>
                <p class="texto ">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-div ">
                <div class="iconos-footer ">
                    <br>
                    <br>
                </div>
                <p class="descripcion-footer "><strong>Seguridad, de principio a fin</strong></p>
                <p class="texto ">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            ​
            <p id="copyright "><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
</body>
​

</html>