<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <section class="top-contenedor">
                <input type="search" name="Buscar" placeholder="Buscar productos, marcas...">
                <button><i class="fas fa-search"></i></button>
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
                <p> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
                </p>
            </section>
        </div>
        <div class="nav-contenedor">
            <nav class="nav">
                <ul class="nav-menu" type=none>
                    <li class="nav-menu-items">
                        <a href="/home" class="nav-menu-links">Ofertas</a>
                    </li>
                    <li class="nav-menu-items">
                        <a href="/home" class="nav-menu-links">Tiendas Oficiales</a>
                    </li>
                    <li class="nav-menu-items">
                        <a href="/register" class="nav-menu-links">Vender</a>
                    </li>
                    <li class="nav-menu-items">
                        <a href="/login" class="nav-menu-links">Ayuda</a>
                    </li>
                </ul>
            </nav>
            <nav class=" menu ">
                <ul class="nav-menu">
                    <li><a href="/formDeRegister"><i class="fas fa-user-circle"></i> Crea tu cuenta</a></li>
                    <li><a href="/formDeLogin"><i class="fas fa-sign-in-alt"></i> Ingresa</a></li>
                    <li><a href="/home"><i class="fas fa-shopping-cart"></i> Mis compras</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2 class="lastview-text">Basado en tu ultima visita</h2>
        <section class="lastview ">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg " alt="Cafetera Moulinex ">
                <hr>
                <span class="precio ">
                    $6770
                    </span>
                <span class="oferta ">
                    40% off
                </span>
                <p class="nombre-producto">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg " alt="MacBook Pro 2019 ">
                <hr>
                <span class="precio ">
                    $230.000
                    </span>
                <span class="oferta ">
                    20% off
                </span>
                <p class="nombre-producto"> MacBook Pro 2019
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg " alt="Celular Samsung Galaxy ">
                <hr>
                <span class="precio ">
                    $70.500
                </span>
                <span class="oferta "> 10% off
                </span>
                <p class="nombre-producto"> Samsung Galaxi s-10

            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg " alt=" TV Samsung ">
                <hr>
                <span class="precio ">
                    $23.200
                    </span>
                <span class="oferta ">
                    5% off
                </span>
                <p class="nombre-producto"> Samsung smart-tv
            </article>
        </section>

        <h2 class="oferta-contenedor-text">Seccion de ofertas</h2>
        <section class="oferta-contenedor">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg " alt=" Cafetera Moulinex ">
                <hr>
                <span class="precio">
                    $6.770
                </span>
                <span class="oferta">
                    40% off
                </span>
                <p class="nombre-producto">Cafetera Moulinex
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg " alt="MacBook Pro 2019 ">
                <hr>
                <span class="precio ">
                    $230.000
                    </span>
                <span class="oferta ">
                    20% off
                </span>
                <p class="nombre-producto">MacBook Pro 2019


            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg " alt="Celular Samsung Galaxy ">
                <hr>
                <span class="precio ">
                    $70.500
                    </span>
                <span class="oferta ">
                    10% off
                </span>
                <p class="nombre-producto"> Samsung Galaxy s-10

            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg " alt=" TV Samsung ">
                <hr>
                <span class="precio ">
                    $23.200
                </span>
                <span class="oferta ">
                    5% off
                </span>
                <p class="nombre-producto"> Samsung Smart- tv
            </article>
        </section>
    </main>

    <footer>
        <h3> Pagá con tarjeta o en efectivo</h3>
        <br> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        <br>
        <h3> Envío gratis desde $ 2.500</h3>
        <br> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        <h3>Seguridad, de principio a fin </h3>
        <br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
        <br>
        <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
    </footer>
</body>


</html>